<!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="QSMRApp">
    <head>
    <title>QSMR</title>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" /> -->
      
      <link rel='stylesheet' type='text/css' href='css/Report.css'>

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script> -->
      
      <script src="libs/angular/angular-1.4.0.min.js"></script>
      <script src="libs/angular/angular-route-1.4.0.min.js"></script>
      <script src="libs/jquery/jquery-1.12.3.min.js"></script>
      
      <script src="js/angularroute.js"></script>
      <script src="js/controller/maincontroller.js"></script>
      <script src="js/controller/qsmrreportcontroller.js"></script>
      
      <script>
      	$(document).ready(function(){
      		console.log('Loaded..........');
      	});
      
      </script>
      
    </head>
 <!--    <body ng-controller="mainController">

        HEADER AND NAVBAR
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Angular Routing Example</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#about"><i class="fa fa-shield"></i> About</a></li>
                    <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
                </ul>
            </div>
            </nav>
        </header>

        MAIN CONTENT AND INJECTED VIEWS
        <div id="main">

            angular templating
            this is where content will be injected
            {{ message }}
            
            <div ng-view></div>
        </div>

    </body> -->

	<body>
	<div class="container">
		<header>
			<nav>
				<div class='mainheader'>
					<h1>QSMR</h1>
					<div class="qunx_logo">
						<img src='image/quinnox_logo.png' alt='logo'>
					</div>
				</div>
				<div class="submenu">
					<ul>
						<li><a href='#/'>Home</a></li>
						<li><a href='#qsmrform'>Form</a></li>
						<li><a href="#qsmrreport">Report</a></li>
					</ul>
				</div>
			</nav>
		</header>
		
		<!-- MAIN CONTENT AND INJECTED VIEWS -->
		
		<div id="main">	
			<!-- angular templating
            this is where content will be injected -->
            
			<div ng-view></div>
		</div>
	</div>
</body>
</html>