<!-- QSMR Report Generator -->

<!-- QSMRReport.html
Created By - Dharmendra Kumar Kaushal
Date - 23-May-2016
 -->
<style>

	 h2{
    color: #0f5dac;
    font-size: 32px;
    width: 100%;
	}

</style>
<div ng-init="getProjectNameList()" class="generate-report-class">
	<center>
		<h2>QMSR Report</h2>
	</center>
	<table class='generatereporttable'>
		<tr>
			<td>
				<label>Project Name : </label>
			</td>
			<td>
				<select id="projectname" name="projectname" ng-model="projectname" ng-options="projectname for projectname in ProjectNames">
					<option value="">Select Project Name</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Date : </label>
			</td>
			<td>
				<select id="date" name="date" ng-model="date" ng-options="date for date in Dates">
					<option value="">Select Date From List</option>
				</select>
			</td>
		</tr>
	</table>
	<input type='submit' value='Display' id='showReportsBtn' ng-click="showReports()" />
</div>