<!-- QSMR Form -->
<link rel='stylesheet' type='text/css' href='css/form.css'>

<div>
	<form action="qsmr/user/add" method="post" class="qsmrform" >
		<div class="header">
			<h2>QSMRFORM</h2>
		</div>
		<div class = "inputforms">
			<br>
			<table class="formtable">
				<tr>
					<td>Project Name 			             :<br><input type ="text" class = "ProjectName" name="ProjectName" align="center"></td>
					<td>Revenue (Goal – USD 3 M) 			 :<br> <input type ="text" class = "Revenue" name="Revenue" align="center" ></td>
					<td>Margins (Goal– 46%)      			 :<br><input type ="text" class = "Margins" name="Margins" align="center" ></td>
				</tr>
				<tr>
					<td>CSAT (Goal 5.0)			 			 :<br><input type ="text" class = "CSAT" name="CSAT" align="center" ></td>
					<td>HC Utilization (Goal 85%)			 :<br><input type ="text" class = "HCUtilization" name="HCUtilization" align="center"  ></td>
					<td>Total Head Count			 		 :<br><input type ="text" class = "TotalHeadCount" name="TotalHeadCount" align="center"  ></td>
				</tr>
				<tr>
					<td>Billable Head Count		 			 :<br><input type ="text" class = "BillableHeadCount	" name="BillableHeadCount" align="center"  ></td>
					<td>Billing Utilization (Goal 97.5%) 	 :<br><input type ="text" class = "BillingUtilization" name="BillingUtilization" align="center"  ></td>
					<td>Sub Contractors					     :<br><input type ="text" class = "SubContractors	" name="SubContractors" align="center"  ></td>
				</tr>
				<tr>
					<td style="padding-top: 35px; vertical-align: top;">Weekly Billable HC (For last 3 Weeks):<br><input type ="text" class = "WeeklyBillableHC" name="WeeklyBillableHC" align="center"  ></td>
					<td>GOALS								 :<br><textarea rows="4" cols="50" class = "Goals" name="Goals" align="center"  ></textarea></td>
					<td>KEY ISSUES		 					 :<br><textarea rows="4" cols="50" class = "KEYISSUES " name="KEYISSUES" align="center"  ></textarea></td>
				</tr>
				<tr>
					<td>INNOVATION PROCESS                	 :<br><textarea rows="4" cols="50" class = "INNOVATION " name="INNOVATION" align="center"  ></textarea></td>
					<td>LOWLIGHTS		 					 :<br><textarea rows="4" cols="50" class = "LOWLIGHTS " name="LOWLIGHTS" align="center"  ></textarea></td>
					<td>HIGHLIGHTS							 :<br><textarea rows="4" cols="50"class = "HIGHLIGHTS " name="HIGHLIGHTS" align="center"  ></textarea></td>
				</tr>
				<tr>
					<td>DEPENDICIES & RISKS					 :<br><textarea rows="4" cols="50" class = "DEPENDICIES " name="DEPENDICIES" align="center"  ></textarea></td>
					<td>DECISIONS & ACTION NEEDED			 :<br><textarea rows="4" cols="50"class = "DECISIONS " name="DECISIONS" align="center"  ></textarea></td>
				</tr>
			</table>
			<br>
			<input type ="SUBMIT" class="add" name="add" >
			</br>
		</div>
	</form>
</div>